<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Curriculum de Mateo Garzon
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <img alt="Programador Wesos" src="https://cdn.iconscout.com/icon/free/png-256/free-programador-9937108-8064179.png" />
          <ion-card-header>
            <ion-card-title>Mateo Garzon</ion-card-title>
            <ion-card-subtitle>Tecnologo Superior en Desarrollo de Software</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            Me fascina el desarrollo de páginas web y aplicaciones. Desde muy joven, me interesé por la informática y me encanta aprender nuevas tecnologías. Aspiro a crear algo que revolucione o transforme mi entorno y que aporte un valor significativo a la sociedad.
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="auto">
        <ion-card color="primary"> 
          <ion-card-header>
            <ion-card-title>Desarrollador de Aplicaciones (Desarrollador Java) Intermedio</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            Desarrollo de una aplicación CINEPOLI para reservar una película y reservar asientos. Además, genera una factura conectada a una base de datos en la nube..
          </ion-card-content>
        </ion-card>
        <ion-card color="primary">
          <ion-card-header>
            <ion-card-title>Desarrollador Frontend (HTML,CSS,REACT) Basico</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Desarrollo de una página web básica que nos permite registrar usuarios y crear nuevos usuarios para una página de gestión de proyectos. CRUD
          </ion-card-content>
        </ion-card>
        <ion-card color="primary">
          <ion-card-header>
            <ion-card-title>Desarrollador de Juego en react Basico</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            Desarrollo de una página web dinamica hecha en react en la que nos permite jugar con las cartas  y se maneja por turno basado en un popular juego de cartas 
          </ion-card-content>
        </ion-card>
        <ion-card color="primary">
            <ion-item color="primary">
              <ion-icon name="call" slot="start"></ion-icon>
              <ion-label>+593 96 289 3787</ion-label>
            </ion-item>
            <ion-item color="primary">
              <ion-icon name="mail" slot="start"></ion-icon>
              <ion-label>mateogarzonfsa#64;gmail.com</ion-label>
            </ion-item>
            <ion-item color="primary">
              <ion-icon name="location" slot="start"></ion-icon>
              <ion-label>Huigra y Pilalo</ion-label>
            </ion-item>
        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Contactos</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-chip>
              <ion-avatar>
                <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
              </ion-avatar>
              <ion-label>Luis Guaygua</ion-label>
              <ion-icon name="close-circle"></ion-icon>
            </ion-chip>
            <ion-chip>
              <ion-avatar>
                <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
              </ion-avatar>
              <ion-label>Eduardo Caza</ion-label>
              <ion-icon name="close-circle"></ion-icon>
            </ion-chip>
            <ion-chip>
              <ion-avatar>
                <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
              </ion-avatar>
              <ion-label>Yuverly Verdezoto</ion-label>
              <ion-icon name="close-circle"></ion-icon>
            </ion-chip>
            <ion-chip>
              <ion-avatar>
                <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
              </ion-avatar>
              <ion-label>Lenin Proaño</ion-label>
              <ion-icon name="close-circle"></ion-icon>
            </ion-chip>
          </ion-card-content>
        </ion-card>
      </ion-col>
  
      
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-card color="medium">
          <ion-card-header>
            <ion-card-title>Proyectos</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-item>
              <ion-label>CINEPOLI</ion-label>
              <ion-text>Desarrollada con Java</ion-text>
            </ion-item>
            <ion-item>
              <ion-label>CARDWARS</ion-label>
              <ion-text>Creado con REACT</ion-text>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card color="medium">
          <ion-card-header>
            <ion-card-title>Educación</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-item>
              <ion-label>Tecnologia en Informatica</ion-label>
              <ion-text>Instituto Tecnologico Cinco de Junio</ion-text>
            </ion-item>
            <ion-item>
              <ion-label>Certificación en Desarrollo Web</ion-label>
              <ion-text>Platzi, 2021</ion-text>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-card color="medium">
          <ion-card-header>
            <ion-card-title>Habilidades</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-item>
              <ion-chip color="primary">Ionic</ion-chip>
              <ion-chip color="secondary">Angular</ion-chip>
              <ion-chip color="tertiary">JavaScript</ion-chip>
              <ion-chip color="success">HTML & CSS</ion-chip>
              <ion-chip color="warning">Git</ion-chip>
            </ion-item>

          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card color="medium">
          <ion-card-header>
            <ion-card-title>Experiencia Laboral</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-item>
              <ion-label>Desarrollador Web</ion-label>
              <ion-text>VirtualWolf 2024</ion-text>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Habilidades</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-list>
              <ion-item lines="none">
                <ion-label>
                  <h2>Comunicación</h2>
                  <p>95%</p>
                </ion-label>
                <ion-progress-bar value="0.95" color="primary"></ion-progress-bar>
              </ion-item>
    
              <ion-item lines="none">
                <ion-label>
                  <h2>Habilidades Blandas</h2>
                  <p>90%</p>
                </ion-label>
                <ion-progress-bar value="0.90" color="secondary"></ion-progress-bar>
              </ion-item>
    
              <ion-item lines="none">
                <ion-label>
                  <h2>Trabajo en Equipo</h2>
                  <p>75%</p>
                </ion-label>
                <ion-progress-bar value="0.75" color="tertiary"></ion-progress-bar>
              </ion-item>
    
              <ion-item lines="none">
                <ion-label>
                  <h2>Liderazgo</h2>
                  <p>70%</p>
                </ion-label>
                <ion-progress-bar value="0.70" color="success"></ion-progress-bar>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <ion-button href="assets/wesitos.pdf" download="CV_Mateo_Garzon.pdf">
          Descargar CV
        </ion-button>
        <ion-button href="https://github.com/WesitosFsa" target="_blank" color="dark">
          <ion-icon name="logo-github" slot="start"></ion-icon>
          GitHub
        </ion-button>
        <ion-button href="https://instagram.com" target="_blank" color="danger">
          <ion-icon name="logo-instagram" slot="start"></ion-icon>
          Instagram
        </ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>



</ion-content>